
<center>
<h1>Listing Filling questions</h1>

<td><%= link_to 'Create a Filling questions', new_filling_path %>
 
<table>
  <tr>
    <th>Index</th>
    <th>Field</th>
    <th>Score</th>
  </tr>
 
  <% @fillings.each do |filling| %>
    <tr>
      <th><%= filling.id %></th>
      <th><%= filling.field %></th>
      <th><%= filling.score %></th>
      <th><%= link_to 'Show', filling_path(filling) %></th>
      <th><%= link_to 'Edit', edit_filling_path(filling) %></th>
      <th><%= link_to 'Destroy', filling_path(filling),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></th>
    </tr>
  <% end %>
</table>
</center>