<%= provide(:title,'Editing Yes-No Question') %>
<center>
	<h> Edit a Yes-No Question </h>

	<%= form_for @yesno ,url: yesno_path(@yesno),method: :patch do |f| %>
 		<% if @yesno.errors.any? %>
    		<div id="error_explanation">
     			 <h2>
       				 <%= pluralize(@yesno.errors.count, "error") %> prohibited
       				 this user from being saved:
      			 </h2>
     			 <ul>
       				 <% @yesno.errors.full_messages.each do |msg| %>
          			<li><%= msg %></li>
       				 <% end %>
      			 </ul>
   		    </div>
  		<% end %>
  		
 	<%= f.label "Content" %><br>
	<%= f.text_area :content %><br><br>

    <%= f.label "Field" %><br>
    <%= f.radio_button :field, "Food and Drink" %> Food and Drink
    <%= f.radio_button :field, "General Knowledge"  %> General Knowledge
    <%= f.radio_button :field, "History" %> History
    <%= f.radio_button :field, "Geography"  %> Geography
    <%= f.radio_button :field, "Music" %> Music 
    <%= f.radio_button :field, "Entertainment"  %> Entertainment    
    <%= f.radio_button :field, "Sport" %> Sport
    <%= f.radio_button :field, "Science and Nature" %> Science and Nature <br> 

	<%= f.label  "Score" %><br>
	<%= f.text_field :score %><br>
	<%= f.label  "Answer" %><br>
	<%= f.text_field :answer %><br>
	<%= f.submit "Update Yes-No Question", class: "btn btn-primary" %>
<% end %> 			

</center>